<footer>  
    <div class="f-info">
       <div class="f-info-socials">
       <a href=https://www.instagram.com/vikash_vzh?igsh=MXFmZGlmbDU3aW1lYw== style="color: black;" > <i class="fa-brands fa-instagram"  ></i></a>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
       </div>
    <div class="f-info-brands">&copy;wandurlust private Limited</div>
      <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
      </div>
  </div>
</footer>